{% extends "menus/menu_admin.html" %}
{% block titulo %} Consultar salas {% endblock %}
{% block contenido %}
<div class="full-width divider-menu-h"></div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
        <div class="table-responsive">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sala in salas %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ sala.k_sala }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ sala.n_sala }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}