{% extends "menus/menu_admin.html" %}
{% block titulo %} Consultar salas {% endblock %}
{% block contenido %}
<div class="full-width divider-menu-h"></div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-cast"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                Salas
            </p>
        </div>
        <div class="table-responsive">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                        <th class="mdl-data-table__cell--non-numeric">Multiplex</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sala in salas %}
                        {% for multiplex in multiplexs %}
                            {% if multiplex.k_multiplex == sala.k_multiplex_id %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">{{ sala.k_sala }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ sala.n_sala }}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{ multiplex.n_multiplex }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}